/*  GLOBAL
 */

.height28px {
  height: 28px !important;
}

.position-absolute {
  position: absolute;
}

.text-align-center {
  text-align: center !important;
}

.width30px {
  width: 30px !important;
}

@font-face {
  font-family: black-chancery;
  src: url(black-chancery.ttf);
}

/*  CLASSES
*/

.dnd5e.sheet .window-content {
  padding: 0;
}

.dnd5e.sheet .window-resizable-handle {
  display: none;
}

.background-image {
  background-image: url('../artwork/fates-heir-character-sheet.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.character-img {
  border: 0;
  height: 242px;
  left: 56px;
  top: calc(30px + 150px);
  width: 242px;
}

.dnd5e.sheet input[type="number"],
.dnd5e.sheet input[type="text"],
.fates-heir-sheet .text {
  font-family: black-chancery;
  font-size: 23px;
}

.character-name {
  height: 28px !important;
  left: 419px;
  top: calc(30px + 213px);
  width: 246px !important;
}

.character-level {
  height: 28px;
  left: 419px;
  top: calc(30px + 251px);
  width: 246px;
}

.character-hp-value {
  left: 88px;
  top: calc(30px + 454px);
}

.character-hp-max {
  left: 119px;
  top: calc(30px + 483px);
}

.character-cp {
  left: 183px;
  top: calc(30px + 504px);
}

.character-sp {
  left: 234px;
  top: calc(30px + 505px);
}

.character-gp {
  left: 285px;
  top: calc(30px + 505px);
}
