/*  GLOBAL
 */

.height28px {
  height: 28px !important;
}

.position-absolute {
  position: absolute !important;
}

.text {
  font-family: black-chancery !important;
  font-size: 23px !important;
}

.text-align-center {
  text-align: center !important;
}

.width30px {
  width: 30px !important;
}

@font-face {
  font-family: black-chancery;
  src: url(black-chancery.ttf);
}

/*  CLASSES
*/

.dnd5e.sheet .window-content {
  padding: 0;
}

.dnd5e.sheet .window-resizable-handle {
  display: none;
}

.fhcs-background-image {
  background-image: url('../artwork/fhcs.min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.fhcs-character-img {
  border: 0;
  border-radius: 1em 1em 0 0;
  height: 242px;
  left: 56px;
  object-fit: contain;
  top: calc(30px + 151px);
  width: 242px;
}

.fhcs-character-name {
  left: 419px;
  top: calc(30px + 213px);
  width: 246px !important;
}

.fhcs-character-level {
  left: 419px;
  top: calc(30px + 251px);
  width: 246px !important;
}

.fhcs-player-name {
  left: 478px;
  top: calc(30px + 288px);
  width: 187px !important;
}

.fhcs-character-hp-value {
  left: 88px;
  top: calc(30px + 454px);
}

.fhcs-character-hp-max {
  left: 119px;
  top: calc(30px + 483px);
}

.fhcs-character-cp {
  left: 183px;
  top: calc(30px + 504px);
}

.fhcs-character-sp {
  left: 234px;
  top: calc(30px + 505px);
}

.fhcs-character-gp {
  left: 285px;
  top: calc(30px + 505px);
}

.fhcs-inventory {
  height: 116px !important;
  left: 342px;
  overflow: auto;
  top: calc(30px + 418px);
  width: 294px !important;
}

.fhcs-character-signature-power {
  border: 0;
  font-size: 17.25px !important;
  height: 116px !important;
  left: 49px;
  resize: none;
  top: calc(30px + 639px);
  width: 620px !important;
}
