/*  GLOBAL
 */
 
.font-size12 { font-size: 12px !important; }  /* fhcs-skill-a, fhcs-skill-i */
.font-size20 { font-size: 20px !important; }  /* fhcs-skill-div, fhcs-skill-input */

.height100 { height: 100% !important; }   /* fhcs-skill-div, fhcs-skill-input */
.height23px { height: 23px !important; }  /* fhcs-skill, fhcs-skill-a */
.height28px { height: 28px !important; }  /* fhcs-div, fhcs-input */

.position-absolute { position: absolute !important; }

.text {
  font-family: black-chancery !important;
  font-size: 23px !important;
}

.text-align-center { text-align: center !important; } /* fhcs-div, fhcs-input */

.width23px { width: 23px !important; }    /* fhcs-a */
.width30px { width: 30px !important; }    /* fhcs-div, fhcs-input */
.width99px { width: 99px !important; }    /* fhcs-skill-div, fhcs-skill-input */
.width122px { width: 122px !important; }  /* fhcs-skill-[6–10] */
.width125px { width: 125px !important; }  /* fhcs-skill-[1–5] */

@font-face {
  font-family: black-chancery;
  src: url(black-chancery.ttf);
}

/*  CLASSES
*/

.dnd5e.sheet .window-content { padding: 0; }
.dnd5e.sheet .window-resizable-handle { display: none; }

.fhcs-background-image {
  background-image: url('../artwork/fhcs.min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.fhcs-img {
  border: 0;
  border-radius: 1em 1em 0 0;
  height: 242px;
  left: 56px;
  object-fit: contain;
  top: calc(30px + 151px);
  width: 242px;
}

.fhcs-name {
  left: 419px;
  top: calc(30px + 213px);
  width: 246px !important;
}

.fhcs-level {
  left: 419px;
  top: calc(30px + 251px);
  width: 246px !important;
}

.fhcs-player-name {
  left: 478px;
  top: calc(30px + 288px);
  width: 187px !important;
}

.fhcs-hp-value {
  left: 88px;
  top: calc(30px + 454px);
}

.fhcs-hp-max {
  left: 119px;
  top: calc(30px + 483px);
}

.fhcs-cp {
  left: 183px;
  top: calc(30px + 504px);
}

.fhcs-sp {
  left: 234px;
  top: calc(30px + 505px);
}

.fhcs-gp {
  left: 285px;
  top: calc(30px + 505px);
}

.fhcs-inventory {
  height: 116px !important;
  left: 342px;
  overflow: auto;
  top: calc(30px + 418px);
  width: 294px !important;
}

.fhcs-signature-power {
  border: 0;
  font-size: 17.25px !important;
  height: 116px !important;
  left: 49px;
  resize: none;
  top: calc(30px + 639px);
  width: 620px !important;
}

.fhcs-skill-1 {
  left: 77px;
  top: calc(30px + 826px);
}

.fhcs-skill-2 {
  left: 77px;
  top: calc(30px + 854px);
}

.fhcs-skill-3 {
  left: 77px;
  top: calc(30px + 883px);
}

.fhcs-skill-4 {
  left: 77px;
  top: calc(30px + 911px);
}

.fhcs-skill-5 {
  left: 77px;
  top: calc(30px + 939px);
}

.fhcs-skill-6 {
  left: 208px;
  top: calc(30px + 826px);
}

.fhcs-skill-7 {
  left: 208px;
  top: calc(30px + 854px);
}

.fhcs-skill-8 {
  left: 208px;
  top: calc(30px + 883px);
}

.fhcs-skill-9 {
  left: 208px;
  top: calc(30px + 911px);
}

.fhcs-skill-10 {
  left: 208px;
  top: calc(30px + 939px);
}
