/*  GLOBAL
 */

.border0            { border: 0           !important; } /* fhcs-inventory */
.border-radius05    { border-radius: .5em !important; } /* fhcs-inventory */
.color1             { color: #45193d    !important; } /* fhcs-inventory */
.font-size12        { font-size: 12px     !important; } /* fhcs-inventory */
.margin0            { margin: 0           !important; } /* fhcs-inventory */
.padding0           { padding: 0          !important; } /* fhcs-inventory */

@font-face {
  font-family: black-chancery;
  src: url(black-chancery.ttf);
}

/*  CLASSES
*/

.dnd5e.sheet .window-content          { padding: 0    !important; }
.dnd5e.sheet .window-resizable-handle { display: none !important; }

.fhcs-d100 {
  background-image: url('../artwork/butterfly.gif') !important;
  background-position: center                       !important;
  background-repeat: no-repeat                      !important;
  color: #b7c8d0                                  !important;
  display: flex                                     !important;
  font-size: 31px                                   !important;
  height: 31px                                      !important;
  justify-content: center                           !important;
  left: 333px                                       !important;
  opacity: 0;
  position: absolute                                !important;
  text-shadow: 0 0 10px #000                      !important;
  top: calc(30px + 48px)                            !important;
  width: 34px                                       !important;
}

.fhcs-header {
  align-items: end          !important;
  color: #97574d          !important;
  display: flex             !important;
  flex-direction: row       !important;
  font-size: 25px           !important;
  height: calc(43px - 3px)  !important;
  justify-content: end      !important;
  left: 563px               !important;
  position: absolute        !important;
  top: calc(30px + 69px)    !important;
  width: 104px              !important;
}

.fhcs-header a {
  height: 25px        !important;
  margin: 0 0 0 .5em  !important;
  opacity: .5         !important;
}

.fhcs-header a.active { opacity: 1 !important; }

.fhcs-body {
  height: 100%  !important;
  width: 100%   !important;
}

.fhcs-body-main {
  background-image: url('../artwork/fhcs.min.png');
  background-position: center                       !important;
  background-repeat: no-repeat                      !important;
  background-size: contain                          !important;
  height: 100%                                      !important;
  width: 100%                                       !important;
}

.fhcs-img {
  border: 0                   !important;
  border-radius: 1em 1em 0 0  !important;
  height: 242px               !important;
  left: 56px                  !important;
  object-fit: contain         !important;
  position: absolute          !important;
  top: calc(30px + 150px)     !important;
  width: 242px                !important;
}

.fhcs-name {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 22px             !important;
  font-weight: bold           !important;
  height: 26px                !important;
  left: 420px                 !important;
  position: absolute          !important;
  top: calc(30px + 214px)     !important;
  width: 243px                !important;
}

.fhcs-level {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 22px             !important;
  font-weight: bold           !important;
  height: 26px                !important;
  left: 415px                 !important;
  position: absolute          !important;
  top: calc(30px + 252px)     !important;
  width: 248px                !important;
}

.fhcs-player-name {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 22px             !important;
  font-weight: bold           !important;
  height: 26px                !important;
  left: 480px                 !important;
  position: absolute          !important;
  top: calc(30px + 292px)     !important;
  width: 183px                !important;
}

.fhcs-rest {
  align-items: end              !important;
  color: #4b1b27              !important;
  display: flex                 !important;
  flex-direction: column        !important;
  font-size: 22px               !important;
  height: 123px                 !important;
  justify-content: space-around !important;
  left: 0px                     !important;
  position: absolute            !important;
  top: calc(30px + 417px)       !important;
  width: 50px                   !important;
}

.fhcs-hp-value {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 24px                !important;
  left: 91px                  !important;
  position: absolute          !important;
  text-align: center          !important;
  top: calc(30px + 453px)     !important;
  width: calc(24px + 12px)    !important;
}

.fhcs-hp-max {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 24px                !important;
  left: calc(121px - 12px)    !important;
  position: absolute          !important;
  text-align: center          !important;
  top: calc(30px + 481px)     !important;
  width: calc(24px + 12px)    !important;
}

.fhcs-cp {
  border-radius: 9em          !important;
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 44px                !important;
  left: 176px                 !important;
  position: absolute          !important;
  text-align: center          !important;
  top: calc(30px + 497px)     !important;
  width: 44px                 !important;
}

.fhcs-sp {
  border-radius: 9em          !important;
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 44px                !important;
  left: 228px                 !important;
  position: absolute          !important;
  text-align: center          !important;
  top: calc(30px + 497px)     !important;
  width: 44px                 !important;
}

.fhcs-gp {
  border-radius: 9em          !important;
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 44px                !important;
  left: 278px                 !important;
  position: absolute          !important;
  text-align: center          !important;
  top: calc(30px + 497px)     !important;
  width: 44px                 !important;
}

.fhcs-inventory {
  height: 118px           !important;
  left: 340px             !important;
  position: absolute      !important;
  overflow: auto          !important;
  top: calc(30px + 417px) !important;
  width: 295px            !important;
}

.fhcs-signature-power {
  border: 0                   !important;
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 103px               !important;
  left: 50px                  !important;
  position: absolute          !important;
  resize: none                !important;
  text-align: center          !important;
  top: calc(30px + 642px)     !important;
  width: 621px                !important;
}

.fhcs-skill {
  color: #d0b0a1            !important;
  font-family: black-chancery !important;
  height: 26px                !important;
  position: absolute          !important;
}

.fhcs-skill-1   { left: 75px;   top: calc(30px + 824px);  width: 129px; }
.fhcs-skill-2   { left: 75px;   top: calc(30px + 852px);  width: 129px; }
.fhcs-skill-3   { left: 75px;   top: calc(30px + 881px);  width: 129px; }
.fhcs-skill-4   { left: 75px;   top: calc(30px + 910px);  width: 129px; }
.fhcs-skill-5   { left: 75px;   top: calc(30px + 939px);  width: 129px; }
.fhcs-skill-6   { left: 208px;  top: calc(30px + 824px);  width: 124px; }
.fhcs-skill-7   { left: 208px;  top: calc(30px + 852px);  width: 124px; }
.fhcs-skill-8   { left: 208px;  top: calc(30px + 881px);  width: 124px; }
.fhcs-skill-9   { left: 208px;  top: calc(30px + 910px);  width: 124px; }
.fhcs-skill-10  { left: 208px;  top: calc(30px + 939px);  width: 124px; }

.fhcs-skill-name, .fhcs-skill-input {
  align-items: center       !important;
  color: #d0b0a1          !important;
  font-size: 20px           !important;
  height: 100%              !important;
  position: absolute        !important;
  width: calc(124px - 26px) !important;
}

.fhcs-skill-name { padding: 2px 4px; }

.fhcs-skill-ai {
  align-items: center     !important;
  display: flex           !important;
  float: right            !important;
  font-size: 11px         !important;
  height: 100%            !important;
  justify-content: center !important;
  width: 26px             !important;
  z-index: 9              !important;
}

.fhcs-power {
  color: #d0b0a1            !important;
  display: flex               !important;
  font-family: black-chancery !important;
  height: 22px                !important;
  position: absolute          !important;
}

.fhcs-power-1 { left: calc(403px - 22px); top: calc(30px + 843px);  width: calc(22px + 218px); }
.fhcs-power-2 { left: calc(403px - 22px); top: calc(30px + 868px);  width: calc(22px + 218px); }
.fhcs-power-3 { left: calc(403px - 22px); top: calc(30px + 893px);  width: calc(22px + 218px); }
.fhcs-power-4 { left: calc(403px - 22px); top: calc(30px + 919px);  width: calc(22px + 218px); }
.fhcs-power-5 { left: calc(403px - 22px); top: calc(30px + 945px);  width: calc(22px + 218px); }

.fhcs-power-ai {
  align-items: center     !important;
  color: #45193d        !important;
  display: flex           !important;
  font-size: 11px         !important;
  height: 100%            !important;
  justify-content: center !important;
  width: 22px             !important;
  z-index: 9              !important;
}

.fhcs-power-name, .fhcs-power-select {
  align-items: center !important;
  border: 0           !important;
  color: #d0b0a1    !important;
  font-size: 14px     !important;
  height: 100%        !important;
  margin-right: 4px   !important;
  width: 97px         !important;
}

.fhcs-power-name { padding-left:7px; }

.fhcs-power-select option { color: #45193d; } 

.fhcs-power-level {
  color: #d0b0a1    !important;
  font-size: 14px     !important;
  height: 100%        !important;
  margin-right: 4px   !important;
  text-align: center  !important;
  width: 41px         !important;
}

.fhcs-power-invocation-input {
  color: #d0b0a1              !important;
  font-size: 14px               !important;
  height: 100%                  !important;
  text-align: center            !important;
  width: calc((72px - 6px) / 2) !important;
}

.fhcs-power-invocation-separator {
  align-items: center !important;
  display: flex       !important;
  margin-top: 1px     !important;
}

.fhcs-power-invocation-separator div { width: 6px; }

.fhcs-body-spellbook, .fhcs-body-journal {
  background-image: url('../artwork/empty-fhcs.min.png')  !important;
  background-position: center                             !important;
  background-repeat: no-repeat                            !important;
  background-size: contain                                !important;
  height: 100%                                            !important;
  width: 100%                                             !important;
}

.fhcs-spellbook, .fhcs-journal {
  height: calc(1018.44px - 150px - 56px)  !important;
  left: 56px                              !important;
  position: absolute                      !important;
  top: calc(30px + 150px)                 !important;
  width: calc(720px - 56px * 2)           !important;
}
