/*  GLOBAL
 */

.border0          { border: 0                   !important; } /* fhcs-inventory */
.border-radius05  { border-radius: .5em         !important; } /* fhcs-inventory */
.color1           { color: #45193d            !important; } /* fhcs-inventory, fhcs-spellbook */
.font-family      { font-family: black-chancery !important; } /* fhcs-spellbook */
.font-size12      { font-size: 12px             !important; } /* fhcs-inventory */
.margin0          { margin: 0                   !important; } /* fhcs-inventory */
.padding0         { padding: 0                  !important; } /* fhcs-inventory */

@font-face {
  font-family: black-chancery;
  src: url(black-chancery.ttf);
}

/*  CLASSES
*/

section:has(.fhcs) {
  overflow-y: overlay !important;
  padding: 0          !important;
}

.fhcs {
  align-items: center                                     !important;
  /* background-image: url('../artwork/empty-fhcs.max.png')  !important; */
  background-position: center                             !important;
  display: flex                                           !important;
  min-height: 1018.4516129px                              !important;
  justify-content: center                                 !important;
}

.fhcs-body {
  height: 1018.4516129px  !important;
  position: relative      !important;
  width: 720px            !important;
}

.fhcs-d100 {
  background-image: url('../artwork/butterfly.gif') !important;
  background-position: center                       !important;
  background-repeat: no-repeat                      !important;
  color: #b7c8d0                                  !important;
  display: flex                                     !important;
  font-size: 31px                                   !important;
  height: 31px                                      !important;
  justify-content: center                           !important;
  left: 333px                                       !important;
  opacity: 0;
  position: absolute                                !important;
  text-shadow: 0 0 10px #000                      !important;
  top: 48px                                         !important;
  width: 34px                                       !important;
}

.fhcs-header {
  align-items: end          !important;
  color: #97574d          !important;
  display: flex             !important;
  flex-direction: row       !important;
  font-size: 25px           !important;
  height: calc(43px - 3px)  !important;
  justify-content: end      !important;
  left: 563px               !important;
  position: absolute        !important;
  top: 69px               !important;
  width: 104px              !important;
}

.fhcs-header a {
  height: 25px        !important;
  margin: 0 0 0 .5em  !important;
  opacity: .5         !important;
}

.fhcs-header a.active { opacity: 1 !important; }

.fhcs-body-main {
  background-image: url('../artwork/fhcs.min.png')  !important;
  background-repeat: no-repeat                      !important;
  background-size: fill                             !important;
}

.fhcs-img {
  border: 0                   !important;
  border-radius: 1em 1em 0 0  !important;
  height: 242px               !important;
  left: 56px                  !important;
  object-fit: contain         !important;
  position: relative          !important;
  top: 150px                  !important;
  width: 242px                !important;
}

.fhcs-name {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 22px             !important;
  font-weight: bold           !important;
  height: 26px                !important;
  left: 420px                 !important;
  position: absolute          !important;
  top: 214px                  !important;
  width: 243px                !important;
}

.fhcs-level {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 22px             !important;
  font-weight: bold           !important;
  height: 26px                !important;
  left: 415px                 !important;
  position: absolute          !important;
  top: 252px                  !important;
  width: 248px                !important;
}

.fhcs-player-name {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 22px             !important;
  font-weight: bold           !important;
  height: 26px                !important;
  left: 480px                 !important;
  position: absolute          !important;
  top: 292px                  !important;
  width: 183px                !important;
}

.fhcs-rest {
  align-items: end              !important;
  color: #4b1b27              !important;
  display: flex                 !important;
  flex-direction: column        !important;
  font-size: 22px               !important;
  height: 123px                 !important;
  justify-content: space-around !important;
  left: 0px                     !important;
  position: absolute            !important;
  top: 417px                    !important;
  width: 50px                   !important;
}

.fhcs-hp-value {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 24px                !important;
  left: 91px                  !important;
  position: absolute          !important;
  text-align: center          !important;
  top: 453px                  !important;
  width: calc(24px + 12px)    !important;
}

.fhcs-hp-max {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 24px                !important;
  left: calc(121px - 12px)    !important;
  position: absolute          !important;
  text-align: center          !important;
  top: 481px                  !important;
  width: calc(24px + 12px)    !important;
}

.fhcs-cp {
  border-radius: 9em          !important;
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 44px                !important;
  left: 176px                 !important;
  position: absolute          !important;
  text-align: center          !important;
  top: 497px                  !important;
  width: 44px                 !important;
}

.fhcs-sp {
  border-radius: 9em          !important;
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 44px                !important;
  left: 228px                 !important;
  position: absolute          !important;
  text-align: center          !important;
  top: 497px                  !important;
  width: 44px                 !important;
}

.fhcs-gp {
  border-radius: 9em          !important;
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 44px                !important;
  left: 278px                 !important;
  position: absolute          !important;
  text-align: center          !important;
  top: 497px                  !important;
  width: 44px                 !important;
}

.fhcs-inventory {
  height: 118px       !important;
  left: 340px         !important;
  position: absolute  !important;
  overflow: auto      !important;
  top: 417px          !important;
  width: 295px        !important;
}

.fhcs-signature-power {
  border: 0                   !important;
  border-radius: .5em         !important;
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 20px             !important;
  font-weight: bold           !important;
  height: 103px               !important;
  left: 50px                  !important;
  position: absolute          !important;
  resize: none                !important;
  text-align: center          !important;
  top: 642px                  !important;
  width: 621px                !important;
}

.fhcs-initiative {
  align-items: center     !important;
  color: #97574d        !important;
  display: flex           !important;
  font-size: 22px         !important;
  height: 27px            !important;
  justify-content: center !important;
  left: 444px             !important;
  position: absolute      !important;
  top: 775px              !important;
  width: 27px             !important;
}

.fhcs-skill {
  color: #d0b0a1            !important;
  font-family: black-chancery !important;
  height: 26px                !important;
  position: absolute          !important;
}

.fhcs-skill-1   { left: 75px  !important; top: 824px !important; width: 129px !important; }
.fhcs-skill-2   { left: 75px  !important; top: 852px !important; width: 129px !important; }
.fhcs-skill-3   { left: 75px  !important; top: 881px !important; width: 129px !important; }
.fhcs-skill-4   { left: 75px  !important; top: 910px !important; width: 129px !important; }
.fhcs-skill-5   { left: 75px  !important; top: 939px !important; width: 129px !important; }
.fhcs-skill-6   { left: 208px !important; top: 824px !important; width: 124px !important; }
.fhcs-skill-7   { left: 208px !important; top: 852px !important; width: 124px !important; }
.fhcs-skill-8   { left: 208px !important; top: 881px !important; width: 124px !important; }
.fhcs-skill-9   { left: 208px !important; top: 910px !important; width: 124px !important; }
.fhcs-skill-10  { left: 208px !important; top: 939px !important; width: 124px !important; }

.fhcs-skill-name, .fhcs-skill-input {
  align-items: center       !important;
  color: #d0b0a1          !important;
  font-size: 20px           !important;
  height: 100%              !important;
  position: absolute        !important;
  width: calc(124px - 26px) !important;
}

.fhcs-skill-name { padding: 2px 4px !important; }

.fhcs-skill-ai {
  align-items: center     !important;
  display: flex           !important;
  float: right            !important;
  font-size: 11px         !important;
  height: 100%            !important;
  justify-content: center !important;
  width: 26px             !important;
  z-index: 9              !important;
}

.fhcs-power {
  color: #d0b0a1            !important;
  display: flex               !important;
  font-family: black-chancery !important;
  height: 22px                !important;
  position: absolute          !important;
}

.fhcs-power-1 { left: calc(403px - 22px) !important; top: 843px !important;  width: calc(22px + 218px) !important; }
.fhcs-power-2 { left: calc(403px - 22px) !important; top: 868px !important;  width: calc(22px + 218px) !important; }
.fhcs-power-3 { left: calc(403px - 22px) !important; top: 893px !important;  width: calc(22px + 218px) !important; }
.fhcs-power-4 { left: calc(403px - 22px) !important; top: 919px !important;  width: calc(22px + 218px) !important; }
.fhcs-power-5 { left: calc(403px - 22px) !important; top: 945px !important;  width: calc(22px + 218px) !important; }

.fhcs-power-ai {
  align-items: center     !important;
  color: #45193d        !important;
  display: flex           !important;
  font-size: 11px         !important;
  height: 100%            !important;
  justify-content: center !important;
  width: 22px             !important;
  z-index: 9              !important;
}

.fhcs-power-name, .fhcs-power-select {
  align-items: center !important;
  border: 0           !important;
  color: #d0b0a1    !important;
  font-size: 14px     !important;
  height: 100%        !important;
  margin-right: 4px   !important;
  width: 97px         !important;
}

.fhcs-power-name { padding-left: 7px !important; }

.fhcs-power-select option { color: #45193d !important; } 

.fhcs-power-level {
  color: #d0b0a1    !important;
  font-size: 14px     !important;
  height: 100%        !important;
  margin-right: 4px   !important;
  text-align: center  !important;
  width: 41px         !important;
}

.fhcs-power-invocation-input {
  color: #d0b0a1              !important;
  font-size: 14px               !important;
  height: 100%                  !important;
  text-align: center            !important;
  width: calc((72px - 6px) / 2) !important;
}

.fhcs-power-invocation-separator {
  align-items: center !important;
  display: flex       !important;
  margin-top: 1px     !important;
}

.fhcs-power-invocation-separator div { width: 6px !important; }

.fhcs-body-spellbook, .fhcs-body-journal {
  background-image: url('../artwork/header-fhcs.min.png') !important; 
  background-repeat: no-repeat                            !important;
  background-size: fill                                   !important;
}

.fhcs-spellbook, .fhcs-journal {
  color: #45193d                        !important;
  font-size: 22px                         !important;
  font-weight: bold                       !important;
  height: calc(1018.44px - 150px - 56px)  !important;
  left: 56px                              !important;
  position: absolute                      !important;
  top: 150px                              !important;
  width: calc(720px - 56px * 2)           !important;
}

.fhcs-spellbook-spells {
  background: rgba(0, 0, 0, .05)                      !important;
  border-radius: .5em                                   !important;
  height: calc(1018.44px - 150px - 56px - 28px - 11px)  !important;
  margin-top: .5em                                      !important;
  overflow: auto                                        !important;
  padding: 0                                            !important;
}

.fhcs-spellbook-spell {
  border: 0     !important;
  margin: .5em  !important;
}

.fhcs-spellbook-spell-name {
  color: #45193d            !important;
  font-family: black-chancery !important;
  font-size: 18px             !important;
  font-weight: bold           !important;
  padding: 0 0 0 .5em         !important;
}

.fhcs-spellbook-spell-cast {
  display: flex           !important;
  font-size: 18px         !important;
  justify-content: center !important;
}

.fhcs-spellbook-spell-cast-a { color: #45193d !important; }

.item-summary {
  border-left: rgba(0, 0, 0, .5) solid 1px  !important;
  border-top: 0                               !important;
  font-family: black-chancery                 !important;
  font-size: 16px                             !important;
  font-weight: bold                           !important;
  margin: .5em 0                              !important;
  padding: 0 0 0 1em                          !important;
}

.item-properties { margin-top: 1em !important; }

.item-properties span {
  font-family: black-chancery !important;
  font-size: 14px             !important;
  font-weight: bold           !important;
}
